.cube1{
  width: 115px;
  height: 108px;
  background-color: #FA7B7B;
  border: 3px solid #2400FF ;
  margin: 100px auto;
  position: relative;
  margin-bottom: -30px;
  right: 35px;
}
.cube2{
  width: 183px;
  height: 172px;
  background-color: #FA7B7B;
  border: 3px solid #2400FF ;
  margin: 100px auto;
  position: relative;
  margin-bottom: -30px;
}
.cube3{
  width: 88px;
  height: 83px;
  background-color: #FA7B7B;
  border: 3px solid #2400FF ;
  top: 0px;
  left: 0px;
  position: absolute;
}
.cube4{
  width: 183px;
  height: 172px;
  background-color: #FA7B7B;
  border: 3px solid #2400FF ;
  margin: 100px auto;
  position: relative;
  margin-bottom: -30px;
}
.cube5{
  width: 88px;
  height: 83px;
  background-color: #FA7B7B;
  border: 3px solid #2400FF ;
  top: 40px;
  left: 45px;
  position: absolute;
}

.circle{
  width: 65px;
  height: 65px;
  background-color: #5135FE;
  border-radius: 50%;
  margin: 100px auto;
  position: relative;
  margin-bottom: -30px;
  right: 35px;
}

.cube{
  width: 137px;
  height: 129px;
  background-color: #FA7B7B;
  border: 3px solid #2400FF ;
  margin: 100px auto;
  position: relative;
  margin-bottom: -30px;
}
.circle2{
  width: 65px;
  height: 65px;
  background-color: #C4C4C4;
  border-radius: 50%;
  top: 32px;
  left: 37px;
  position: absolute;
  margin-bottom: -30px;
}