.cube1{
  width: 115px;
  height: 108px;
  background-color: #FA7B7B;
  border: 3px solid #2400FF ;
  margin: 100px auto;
  position: relative;
  margin-bottom: -30px;
  right: 35px;
}
.cube2{
  width: 183px;
  height: 172px;
  background-color: #FA7B7B;
  border: 3px solid #2400FF ;
  margin: 100px auto;
  position: relative;
  margin-bottom: -30px;
}
.cube3{
  width: 88px;
  height: 83px;
  background-color: #FA7B7B;
  border: 3px solid #2400FF ;
  top: 0px;
  left: 0px;
  position: absolute;
}
.cube4{
  width: 183px;
  height: 172px;
  background-color: #FA7B7B;
  border: 3px solid #2400FF ;
  margin: 100px auto;
  position: relative;
  margin-bottom: -30px;
}
.cube5{
  width: 88px;
  height: 83px;
  background-color: #FA7B7B;
  border: 3px solid #2400FF ;
  top: 40px;
  left: 45px;
  position: absolute;
}

.circle{
  width: 65px;
  height: 65px;
  background-color: #5135FE;
  border-radius: 50%;
  margin: 100px auto;
  position: relative;
  margin-bottom: -30px;
  right: 35px;
}

.cube{
  width: 137px;
  height: 129px;
  background-color: #FA7B7B;
  border: 3px solid #2400FF ;
  margin: 100px auto;
  position: relative;
  margin-bottom: -30px;
}
.circle2{
  width: 65px;
  height: 65px;
  background-color: #C4C4C4;
  border-radius: 50%;
  top: 32px;
  left: 37px;
  position: absolute;
  margin-bottom: -30px;
}
.retangulo1{
  width: 140px;
  height: 170px;
  background-color: #5F20C6;
  border: 30px solid #E05858 ;
  margin: 100px auto;
  position: relative;
}
.retangulo2{
  width: 170px;
  height: 190px;
  background-color: #5F20C6;
  border: 15px solid #78B45C ;
  margin: 200px auto;
  position: inherit;
  right: 30px;
}
.circle3{
  width: 175px;
  height: 170px;
  background-color: #3DA4B2;
  border-radius: 50%;
  margin: -200px auto;
  position: inherit;
  right: 18px;
}
.retangulo3{
  width: 140px;
  height: 170px;
  background-color: #5F20C6;
  border: 30px solid #E05858 ;
  margin: 100px auto;
  position: relative;
}
.retangulo4{
  width: 170px;
  height: 190px;
  background-color: #5F20C6;
  border: 15px solid #78B45C ;
  margin: -200px auto;
  position: absolute;
  left: 860px;
  z-index: 10;
}
.circle4{
  width: 175px;
  height: 170px;
  background-color: #3DA4B2;
  border-radius: 50%;
  margin: -65px auto;
  position: absolute;
  z-index: 10;
  right: 0;
  left: 0;
}